<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<title>凡猫自动化</title>
    <style>
    body
    {
        background-color:#d0e4fe;
    }
    h1
    {
        color:orange;
        text-align:center;
    }
    a
    {
        color:#264409;
        text-align:center;
    }
    p
    {
        font-family:"Times New Roman";
        font-size:20px;
    }
    </style>
    <script>
        function dispalydate() {
             document.getElementById('demo').innerHTML=Date()
        }
    </script>
</head>
<body>
<h1>欢迎来到天天向上自动化测试课</h1>
<button type="button" id="demo" onclick="alert('别点我，点登录啊')">点击此处</button>
<a href="/signin" >登录</a>
</body>
</html>